// Copyright 2022-2025, Pulumi Corporation.  All rights reserved.
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";

// Family
// NOTE: If you change the the values here, be sure to update index.html where
// we actually download the fonts with the different weights.
$font-family-primary: "Inter", sans-serif;

// Monospace stack for code and technical content.
$font-family-code: "Monaspace Neon", menlo, consolas, ui-monospace, monospace;

// Primary type ramp

// Display text, also known as display type, is a type of text that is used in small quantities at large sizes
// to create emphasis and effect. It is often used in headlines, logos, and other prominent design elements.
// Places within the Cloud considered Display Text:
// Dashboard (page header, card headers and some text), Side Nav
$font-size-display-xxlarge: 28px;
$font-size-display-xlarge: 20px;
$font-size-display-large: 16px;
$font-size-display-medium: 15px;
$font-size-display-small: 14px;
$font-size-display-xsmall: 12px;

// Header text is text that appears at the top of a page or section to introduce it or provide information.
$font-size-h1: 24px;
$font-size-h2: 20px;
$font-size-h3-v2: 18px;

// Body text is the main content of a document, such as a book, magazine, or webpage,
// that conveys the main message or information.
// “Body Medium” is Pulumi Cloud’s default body text size.
$font-size-body-xlarge: 18px;
$font-size-body-large: 16px;
$font-size-body-medium: 14px;
$font-size-body-small: 12px;
$font-size-body-small-v2: 11px;
$font-size-body-xsmall: 10px;

// Code type ramp
// When writing code for an interface, programmers often use monospaced fonts
// to make code easier to read and scan for errors.
$font-size-code-large: 14px;
$font-size-code-medium: 13px;
$font-size-code-small: 12px;

// Font Weight
$font-weight-normal: 400;
$font-weight-bold: 600;

// We only use 500 for code - we do not use it for body text.
$font-weight-code: 500;
$line-height-body: 1.5;
$line-height-display: 1.2;

// Below is the typography port from material design, adapted for PDS

$default-font-family: $font-family-primary;

@function px-to-rem($px) {
    @return math.div($px, 16px) * 1rem;
}

$pul-levels: (
    headline1: (
        font-family: $default-font-family,
        font-size: px-to-rem(96px),
        line-height: px-to-rem(96px),
        font-weight: $font-weight-normal,
        text-decoration: inherit,
        text-transform: inherit,
    ),
    headline2: (
        font-family: $default-font-family,
        font-size: px-to-rem(60px),
        line-height: px-to-rem(60px),
        font-weight: $font-weight-normal,
        text-decoration: inherit,
        text-transform: inherit,
    ),
    headline3: (
        font-family: $default-font-family,
        font-size: px-to-rem(48px),
        line-height: px-to-rem(50px),
        font-weight: $font-weight-normal,
        text-decoration: inherit,
        text-transform: inherit,
    ),
    headline4: (
        font-family: $default-font-family,
        font-size: px-to-rem(34px),
        line-height: px-to-rem(40px),
        font-weight: $font-weight-normal,
        text-decoration: inherit,
        text-transform: inherit,
    ),
    headline5: (
        font-family: $default-font-family,
        font-size: px-to-rem(24px),
        line-height: px-to-rem(32px),
        font-weight: $font-weight-normal,
        text-decoration: inherit,
        text-transform: inherit,
    ),
    headline6: (
        font-family: $default-font-family,
        font-size: px-to-rem(20px),
        line-height: px-to-rem(32px),
        font-weight: $font-weight-normal,
        text-decoration: inherit,
        text-transform: inherit,
    ),
    subtitle1: (
        font-family: $default-font-family,
        font-size: px-to-rem(16px),
        line-height: px-to-rem(28px),
        font-weight: $font-weight-normal,
        text-decoration: inherit,
        text-transform: inherit,
    ),
    subtitle2: (
        font-family: $default-font-family,
        font-size: px-to-rem(14px),
        line-height: px-to-rem(22px),
        font-weight: $font-weight-normal,
        text-decoration: inherit,
        text-transform: inherit,
    ),
    body1: (
        font-family: $default-font-family,
        font-size: px-to-rem(16px),
        line-height: px-to-rem(24px),
        font-weight: $font-weight-normal,
        text-decoration: inherit,
        text-transform: inherit,
    ),
    body2: (
        font-family: $default-font-family,
        font-size: px-to-rem(14px),
        line-height: px-to-rem(20px),
        font-weight: $font-weight-normal,
        text-decoration: inherit,
        text-transform: inherit,
    ),
    caption: (
        font-family: $default-font-family,
        font-size: px-to-rem(12px),
        line-height: px-to-rem(20px),
        font-weight: $font-weight-normal,
        text-decoration: inherit,
        text-transform: inherit,
    ),
    button: (
        font-family: $default-font-family,
        font-size: px-to-rem(14px),
        line-height: px-to-rem(36px),
        font-weight: $font-weight-normal,
        text-decoration: none,
        text-transform: uppercase,
    ),
    overline: (
        font-family: $default-font-family,
        font-size: px-to-rem(12px),
        line-height: px-to-rem(32px),
        font-weight: $font-weight-normal,
        text-decoration: none,
        text-transform: uppercase,
    ),
);

/// Defines a typography level based on Material Design spec.
/// @param {String} $font-size The font-size for this level.
/// @param {String | Number} $line-height The line-height for this level.
/// @param {String | Number} $font-weight The font-weight for this level.
/// @param {String} $font-family The font-family for this level.
/// @param {String} $letter-spacing The letter-spacing for this level.
/// @returns {Map} A map representing the definition of this typographic level.
@function pulumi-define-typography-level(
    $font-size,
    $line-height: $font-size,
    $font-weight: $font-weight-normal,
    $font-family: null,
    $letter-spacing: normal
) {
    @return (
        font-size: $font-size,
        line-height: $line-height,
        font-weight: $font-weight,
        font-family: $font-family,
        letter-spacing: $letter-spacing
    );
}

/// Generates a Pulumi typography config based on values from the official Material
/// Design spec implementation. All arguments are optional, but may be passed to override
/// the default values.
/// All default typography sizing generated by this function is in `px` units.
/// This config is inspired by and compatible with the Material Design spec (as used in Angular Material).
///
/// @param {String} $font-family The font family to use for levels where it is not explicitly
///     specified.
/// @param {Map} $headline-1 The font settings for the headline-1 font level.
/// @param {Map} $headline-2 The font settings for the headline-2 font level.
/// @param {Map} $headline-3 The font settings for the headline-3 font level.
/// @param {Map} $headline-4 The font settings for the headline-4 font level.
/// @param {Map} $headline-5 The font settings for the headline-5 font level.
/// @param {Map} $headline-6 The font settings for the headline-6 font level.
/// @param {Map} $subtitle-1 The font settings for the subtitle-1 font level.
/// @param {Map} $subtitle-2 The font settings for the subtitle-2 font level.
/// @param {Map} $body-1 The font settings for the body-1 font level.
/// @param {Map} $body-2 The font settings for the body-2 font level.
/// @param {Map} $caption The font settings for the caption font level.
/// @param {Map} $button The font settings for the button font level.
/// @param {Map} $overline The font settings for the overline font level.
/// @return {Map} A map containing font settings for each of the levels in the Material Design spec.
@function pulumi-define-typography-config(
    $font-family: $default-font-family,
    $headline-1: null,
    $headline-2: null,
    $headline-3: null,
    $headline-4: null,
    $headline-5: null,
    $headline-6: null,
    $subtitle-1: null,
    $subtitle-2: null,
    $body-1: null,
    $body-2: null,
    $caption: null,
    $button: null,
    $overline: null
) {
    @return apply-font-family(
        $font-family,
        (
            headline-1: $headline-1 or rem-to-px(typography-config-level-from-pul(headline1)),
            headline-2: $headline-2 or rem-to-px(typography-config-level-from-pul(headline2)),
            headline-3: $headline-3 or rem-to-px(typography-config-level-from-pul(headline3)),
            headline-4: $headline-4 or rem-to-px(typography-config-level-from-pul(headline4)),
            headline-5: $headline-5 or rem-to-px(typography-config-level-from-pul(headline5)),
            headline-6: $headline-6 or rem-to-px(typography-config-level-from-pul(headline6)),
            subtitle-1: $subtitle-1 or rem-to-px(typography-config-level-from-pul(subtitle1)),
            subtitle-2: $subtitle-2 or rem-to-px(typography-config-level-from-pul(subtitle2)),
            body-1: $body-1 or rem-to-px(typography-config-level-from-pul(body1)),
            body-2: $body-2 or rem-to-px(typography-config-level-from-pul(body2)),
            caption: $caption or rem-to-px(typography-config-level-from-pul(caption)),
            button: $button or rem-to-px(typography-config-level-from-pul(button)),
            overline: $overline or rem-to-px(typography-config-level-from-pul(overline)),
        )
    );
}

/// Generates a Pulumi typography config based on values from the official Material
/// Design spec implementation. All arguments are optional, but may be passed to override
/// the default values.
/// All default typography sizing generated by this function is in `rem` units.
/// This config is inspired by and compatible with the Material Design spec (as used in Angular Material).
///
/// @param {String} $font-family The font family to use for levels where it is not explicitly
///     specified.
/// @param {Map} $headline-1 The font settings for the headline-1 font level.
/// @param {Map} $headline-2 The font settings for the headline-2 font level.
/// @param {Map} $headline-3 The font settings for the headline-3 font level.
/// @param {Map} $headline-4 The font settings for the headline-4 font level.
/// @param {Map} $headline-5 The font settings for the headline-5 font level.
/// @param {Map} $headline-6 The font settings for the headline-6 font level.
/// @param {Map} $subtitle-1 The font settings for the subtitle-1 font level.
/// @param {Map} $subtitle-2 The font settings for the subtitle-2 font level.
/// @param {Map} $body-1 The font settings for the body-1 font level.
/// @param {Map} $body-2 The font settings for the body-2 font level.
/// @param {Map} $caption The font settings for the caption font level.
/// @param {Map} $button The font settings for the button font level.
/// @param {Map} $overline The font settings for the overline font level.
/// @return {Map} A map containing font settings for each of the levels in the Material Design spec.
@function define-rem-typography-config(
    $font-family: $default-font-family,
    $headline-1: null,
    $headline-2: null,
    $headline-3: null,
    $headline-4: null,
    $headline-5: null,
    $headline-6: null,
    $subtitle-1: null,
    $subtitle-2: null,
    $body-1: null,
    $body-2: null,
    $caption: null,
    $button: null,
    $overline: null
) {
    @return apply-font-family(
        $font-family,
        (
            headline-1: $headline-1 or typography-config-level-from-pul(headline1),
            headline-2: $headline-2 or typography-config-level-from-pul(headline2),
            headline-3: $headline-3 or typography-config-level-from-pul(headline3),
            headline-4: $headline-4 or typography-config-level-from-pul(headline4),
            headline-5: $headline-5 or typography-config-level-from-pul(headline5),
            headline-6: $headline-6 or typography-config-level-from-pul(headline6),
            subtitle-1: $subtitle-1 or typography-config-level-from-pul(subtitle1),
            subtitle-2: $subtitle-2 or typography-config-level-from-pul(subtitle2),
            body-1: $body-1 or typography-config-level-from-pul(body1),
            body-2: $body-2 or typography-config-level-from-pul(body2),
            caption: $caption or typography-config-level-from-pul(caption),
            button: $button or typography-config-level-from-pul(button),
            overline: $overline or typography-config-level-from-pul(overline),
        )
    );
}

// Converts a typography level config to an Angular one.
@function typography-config-level-from-pul($pul-level, $font-family: null) {
    $pul-level-config: map.get($pul-levels, $pul-level);

    @return pulumi-define-typography-level(
        $font-family: $font-family,
        $font-size: map.get($pul-level-config, font-size),
        $line-height: map.get($pul-level-config, line-height),
        $font-weight: map.get($pul-level-config, font-weight),
        $letter-spacing: normal
    );
}

// Converts a map containing rem values to a map containing px values.
@function rem-to-px($x, $px-per-rem: 16px) {
    @if meta.type-of($x) == "map" {
        @each $key, $val in $x {
            $x: map.merge(
                $x,
                (
                    $key: rem-to-px($val),
                )
            );
        }

        @return $x;
    }

    @if meta.type-of($x) == "number" and math.unit($x) == "rem" {
        @return math.div($x, 1rem) * $px-per-rem;
    } @else {
        @return $x;
    }
}

// Applies the default font family to all levels in a typography config.
@function apply-font-family($font-family, $initial-config) {
    $config: $initial-config;

    @each $key, $level in $config {
        @if not map.get($level, "font-family") {
            // Sass maps are immutable so we have to re-assign the variable each time.
            $config: map.set($config, $key, map.set($level, "font-family", $font-family));
        }
    }

    @return map.set($config, "font-family", $font-family);
}
